.locationsAndHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  background: #f4f4f4;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  padding: 1em;
}

.locationsHeader {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.locations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em .5em 1em .5em;
  background-color: #8acae5;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgray;
  min-width: 35%;
  max-width: 60%;
}

.indivLocContent {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  flex-direction: column;
  font-size: 18;
  padding: .5em;
}

.indivLocTitle {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: #0282e4;
  font-size: 18;
  padding: .5em;
  width: 80%;
  min-height: 5%;
  border-radius: 5px;
  color: white;

  margin: 0em;
}
.locUser {
  display: flex;
  text-align: center;
  align-items: center;
  padding: .5em;
}
.leaveButton {
  display: flex;
  margin: 3px;
  color: black;
  background-color: white;
  border-radius: 2px;
  border: black solid 1px;
}

.leaveButton:active {
  background-color: lightgray;
  font-size: 12px
}

.leaveButton:hover {
  box-shadow: 1px 1px 2px gray;
}

.cover {
  object-fit: cover;
}
